<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="author.component.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css" integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata');
            </style>
    </head>
    <body>
        <div id="autor"></div>
            <div class="author" style="font-family: Cambria;">
                    <h1 style="color:rgb(51, 88, 125)">Aleksandra<br>Vujović</h1>
                <div class="ind" style="font-family: Cochin;">
                    <h2 style="color: #41e0e2;"><br>IT39/2019</h2>
                    <p style="color: rgb(101, 99, 99);"><br>Inženjerstvo informacionih sistema<br>Razvoj višeslojnih aplikacija<br>Fakultet tehničkih nauka</p>            
                </div>
            </div>   
    </body>
</html>
