<div class="container">
    <h3 mat-dialog-title *ngIf="flag==1" >Dodavanje proizvoda</h3>
    <h3 mat-dialog-title *ngIf="flag==2">Modifikacija proizvoda: {{data.naziv}}</h3>
    <h3 mat-dialog-title *ngIf="flag==3">Brisanje proizvoda: {{data.id}}</h3>
    <form class="mat-dialog-content" #formControl="ngForm">
        <div class="form">
            <mat-form-field>
                <input required matInput placeholder="Naziv" [(ngModel)]="data.naziv" name="naziv" [disabled]="flag==3"/>
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field *ngIf="flag==1">
                <mat-select placeholder="Proizvodjac" name="Proizvodjac" [(ngModel)] = "data.proizvodjac" required>
                    <mat-option *ngFor="let proizvodjac of proizvodjaci" [value]="proizvodjac">
                        {{proizvodjac.naziv}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field *ngIf="flag==2 || flag==3">
                <mat-select [compareWith]="compare" placeholder="Proizvodjac" name="Proizvodjac" [(ngModel)] = "data.proizvodjac" [disabled] = "flag == 3" required>
                    <mat-option *ngFor="let proizvodjac of proizvodjaci" [value]="proizvodjac">
                        {{proizvodjac.naziv}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="mat-dialog-actions">
            <button mat-button *ngIf="flag==1" type="submit" [mat-dialog-close]="1" [disabled]="!formControl.valid" (click)="add()" >Sacuvaj</button>
            <button mat-button *ngIf="flag==2" type="submit" [mat-dialog-close]="1" [disabled]="!formControl.valid" (click)="update()" >Azuriraj</button>
            <button mat-button *ngIf="flag==3" type="submit" [mat-dialog-close]="1" (click)="delete()">Obrisi</button>
            <button mat-button (click)="cancel()">Ponisti</button>
        </div>
    </form>
</div>

