<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje stavke racuna</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija stavke racuna: {{data.id}}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje stavke racuna: {{data.id}}</h3>

    
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Redni broj" name="RedniBroj" 
                [(ngModel)] = "data.redniBroj" [disabled] = "flag == 3" required/>
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Kolicina" name="Kolicina" [(ngModel)] = "data.kolicina" [disabled] = "flag == 3"  required/>
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Jedinica mere" name="JedinicaMere" 
                [(ngModel)] = "data.jedinicaMere" [disabled] = "flag == 3" required/>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Cena" name="Cena" [(ngModel)] = "data.cena" [disabled] = "flag == 3"  required/>
            </mat-form-field>
        </div>
        <form class="mat-dialog-content" #formControl="ngForm">
            <div class="form">
                <mat-form-field *ngIf="flag==1">
                    <mat-select placeholder="Racun" name="Racun" [(ngModel)] = "data.racun" required>
                        <mat-option *ngFor="let racun of racuni" [value]="racun">
                            {{racun.id}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
    
            <div class="form">
                <mat-form-field *ngIf="flag==2 || flag==3">
                    <mat-select [compareWith]="compare"  placeholder="Racun" name="Racun" [(ngModel)] = "data.racun"  [disabled] = "flag == 3" required>
                        <mat-option *ngFor="let racun of racuni" [value]="racun">
                            {{racun.id}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
           

    </form>

    <div class="mat-dialog-actions">
        <button mat-button *ngIf="flag==1" [disabled]="!formControl.valid" (click)="add()" mat-dialog-close="1" type="submit" >Sacuvaj</button>
        <button mat-button *ngIf="flag==2" [disabled]="!formControl.valid" (click)="update()" mat-dialog-close="1" type="submit">Azuriraj</button>
        <button mat-button *ngIf="flag==3" (click)="delete()" mat-dialog-close="1">Obrisi</button>
        <button mat-button (click)="cancel()">Ponisti</button>
    </div>
</div>
